appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
distlib==0.3.1
fastapi==0.61.1
filelock==3.0.12
h11==0.11.0
idna==2.10
iniconfig==1.1.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
mongoengine==0.22.1
packaging==20.4
pluggy==0.13.1
py==1.9.0
pydantic==1.7.1
pymongo==3.11.3
pyparsing==2.4.7
pytest==6.1.2
requests==2.24.0
six==1.15.0
starlette==0.13.6
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.25.11
uvicorn==0.12.2
wincertstore==0.2
wrapt==1.11.2
